#search-panel {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 894px;
    width: 100%;
  }
  
  #search-panel.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-content {
    width: 100%;
  }

  .search-input {
    display: flex;
    align-items: center;
    border: 2px solid #a067d3;
    border-radius: 50px;
  }
  
  .search-input input {
    flex: 1;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 20px;
    border: none;
    font-size: 24px;
  }
  
  .search-icon img {
    margin: 20px;
  }

  



  .search-suggestions {
    margin-top: 18px;
    font-size: 24px;
  }
  
  .search-suggestions span {
    margin-right: 10px;
  }
  
  .search-suggestions a {
    text-decoration: none;
    color: #333333;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    transition: 0.25s;
    margin-right:10px;
  }

  .search-suggestions a:hover {
    color:#a067d3;
  }