/* font connection */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}
/* font connection */

/* general settings */
a {
    text-decoration: none;
}

p {
    font-size: 24px;
}

h2 {
    font-size: 48px;
}

section {
    margin-bottom: 200px;
}

section h2 {
    margin-bottom: 50px;
}
/* general settings */

/* header settings */
header {
    background-color: #EFE9D9;
    margin-bottom: 50px;
    font-size: 24px;
}

header a {
    text-decoration: none;
    color: black;
}


/* header-up part settings */
.header-upper {
    display: flex;
    margin-left: 60px;
    padding: 11px 11px;
    align-items: center;
    justify-content: space-between;
    background-color: #EFE9D9;
}

.header-grid-left ul,
.header-grid-right ul {
    list-style: none;
    display: flex;
    padding-right: 60px;
}

.header-grid-left li {
    margin-right: 50px;
}
/* header-up part settings */


/* header main part */
.header {
    background-color: #9652C7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 60px;
}

.logo-header {
    font-family: 'Jersey 10';
    font-size: 64px;
    color:white;
}

.header-menu-center ul,
.header-menu-right ul {
    display: flex; 
    list-style: none;
}

.header-menu-right li {
    margin-right: 20px;
}

.header-menu-center li {
    margin-right: 50px; 
}

.header a {
    color: white;
}
/* header main part */
/* header settings */


/* main */
/* categories */

main {
    margin-left: 60px;
    margin-right: 60px;
}

.main-categories {
    display: grid;
    grid-template-columns: 930px 658px;
    grid-template-rows: 480px 370px;
    gap: 20px;
    /* display: flex; */
}

.main-categories-item,
.main-categories-sitem {
    display: inline-block;
    position: relative;
    margin-right: 20px; 
}

.main-categories-sitem {
    background-color: #EFE9D9;
    border-radius: 50px;
}

.main-categories-item img {
    display: block;
}

.main-categories-item h2,
.main-categories-sitem h2 {
    position: absolute;
    top: 30px;
    right: 60px;
    color: #333333;
}

.main-categories-item .button-text {
    position: absolute;
    bottom: 60px;
    right: 120px;
    background-color: #9652C7;
    padding: 10px;
    color: white;
    border-radius: 50px;
    width: 387px;
    height: 59px;
    text-align-last: center;
    align-content: center;
    font-size: 32px;
}

.button-icon {
    position: absolute;
    bottom: 60px;
    right: 60px;
}
/* categories */

/* sales hits */
.main-sales-hits {
}

.hits-item {
    margin-right: 20px;
    display: inline-block;
    border-radius: 50px;
    background-color: #EFE9D9;
    width: 387px;
    height: 400px;
}

.hits-item img,
.hits-item p,
.hits-item h3 {
    margin-left: 30px;
    margin-top: 0px;
    color: #333333;
}

.hits-item h3 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #9652C7;
}

.hits-item img {
    margin-bottom: 30px;
    margin-top: 30px;
}

.discount {
    font-size: 16px;
    text-decoration: line-through;
}
/* sales hits */


/* main sales new */
.main-sales-new h2 {
   font-size: 48px; 
}

/* main sales new */
/* main */


/* footer settings */
footer {
    background-color: #EFE9D9;
}

footer a {
    color: black;
}

.footer-first-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 50px;
    margin-left:50px;
    margin-bottom: 50px;
}

.footer-socials ul {
    display: flex;
    list-style: none;
}

.footer-socials li {
    margin-right: 20px;
}

.logo-footer {
    font-family: 'Jersey 10';
    font-size: 64px;
    color:black;
}
.footer-main-part {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 98px;
}

.footer-column {
    flex: 1;
    font-size: 24px;
}

.footer-column h3 {
    color: #9652C7;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    text-align: center;
}

.footer-column ul li {
    margin-bottom: 20px;
}

.footer-information {
    text-align: center;
    padding-bottom: 20px;
}
/* footer settings */