/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap'); */

a {
    text-decoration: none;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* Подключение шрифта */


/* Настройка header */
header {
    background-color: #EFE9D9;
    margin-bottom: 50px;
    font-size: 24px;
}

header a {
    text-decoration: none;
    color: black;
}


/* Верхняя часть header-а */
.header-upper {
    display: flex;
    padding: 11px 11px;
    align-items: center;
    justify-content: space-between;
    background-color: #EFE9D9;
}

.header-grid-left ul,
.header-grid-right ul {
    list-style: none;
    display: flex;
    padding-right: 60px;
}

.header-grid-left li {
    margin-right: 50px;
}
/* Верхняя часть header-а */


/* Основная часть header-а */
.header {
    background-color: #9652C7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.logo-header {
    margin-left:60px;
}

.header-menu-center ul,
.header-menu-right ul {
    display: flex; 
    list-style: none;
}

.header-menu-right li {
    margin-right: 20px;
}

.header-menu-center li {
    margin-right: 50px; 
}

.header a {
    color: white;
}
/* Основная часть header */
/* Настройка header */


/* main */
/* categories */

main {
    margin-left: 60px;
    margin-right: 60px;
}

.main-categories {
    display: grid;
    grid-template-columns: 930px 658px;
    grid-template-rows: 480px 370px;
    gap: 20px;
}

.main-categories-item,
.main-categories-sitem {
    display: inline-block;
    position: relative;
}

.main-categories-sitem {
    background-color: #EFE9D9;
    border-radius: 50px;
}

.main-categories-item img {
    display: block;
}

.main-categories-item h2,
.main-categories-sitem h2 {
    position: absolute;
    top: 30px;
    right: 60px;
    color: #333333;
    font-size: 48px
}

.main-categories-item .button-text {
    position: absolute;
    bottom: 60px;
    right: 120px;
    background-color: #9652C7;
    padding: 10px;
    color: white;
    border-radius: 50px;
    width: 387px;
    height: 59px;
    text-align-last: center;
    align-content: center;
    font-size: 32px;
}



.button-icon {
    position: absolute;
    bottom: 60px;
    right: 60px;
}


/* categories */
/* main */


/* Настройка footer */
.logo-footer {
    margin-left:50px;
}
/* Настройка footer */